<app-loading #loading></app-loading>
<app-navbar [links]="links"></app-navbar>

<div class="bd-masthead mb-3" id="content">
    <div class="container col-12 d-flex align-items-center justify-content-center app">
        <h1 class="bd-title">End Your Search for Cheap Flights!</h1>
        <p class="bd-lead">Book Now and Fly for Less!</p>
        <a class="btn btn-primary" [routerLink]="'/search-flights'">Search Flights!</a>
    </div>
    <a href="#popularDestinations">
        <div class="arrow bounce">
            <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
        </div>
    </a>
</div>

<div class="container col-10">
    <h3 class="d-flex justify-content-center align-items-center">Popular Destinations</h3>
    <div id="popularDestinations" class="custom-card-container">
        <div class="card text-white p-0" *ngFor="let destination of popularDestinations">
            <img [src]="'assets/img/' + destination.imgSrc" style="height: 100%; width: 100%;" class="card-img"
                alt="card-image">
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h5 class="card-title" style="font-size: 2rem;">{{ destination.name }}</h5>
            </div>
        </div>
    </div>
</div>
<section class="bg-dark mt-5 py-5">
    <div class="container col-10">
        <div class="row justify-content-center">
            <div class="col-12 text-center text-white">
                <h2>User Reviews</h2>
            </div>
            <div class="row">
                <div class="col-md-4 mt-5" *ngFor="let review of reviews">
                    <div class="card">
                        <div class="card-body text-center">
                            <p class="card-text">&ldquo;{{ review.quote }}&rdquo;</p>
                            <img [src]="review.image" alt="" class="rounded-circle mb-3"
                                style="width: 150px; height: 150px; object-fit: cover;">
                            <h5 class="mb-0">{{ review.name }}</h5>
                            <p class="text-muted">{{ review.role }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">How to Use</h2>
        <p class="card-text">Welcome to our Flight Ticket Booking App! Follow the steps below to get started:</p>
        <ol>
            <li><b>Sign Up:</b> If you are a new user, click on the "Sign Up" button to create an account. Fill in the required
                information and submit the form.</li>
            <li><b>Login:</b> Once you have created an account, click on the "Login" button and enter your credentials
                (username and password) to log in to your account.</li>
            <li><b>Search Flights:</b> After logging in, you will be redirected to the flight search page. Select your
                departure and destination airports, choose the departure date, and enter the number of passengers.</li>
            <li><b>View Available Flights:</b> Click on the "Search" button to view the available flights for your search
                criteria. The results will display flight details such as flight number, duration, prices, and available
                seats.</li>
            <li><b>Book a Flight:</b> Choose a flight from the list and click on the "Book" button to proceed with the booking.
                Follow the instructions to complete the booking process.</li>
            <li><b>Manage Bookings:</b> You can manage your bookings by navigating to the "My Bookings" section. Here, you can
                view your booked flights, cancel bookings, and make changes if available.</li>
            <li><b>Logout:</b> When you are finished using the application, click on the "Logout" button to securely log out of
                your account.</li>
            <li><b>Admin:</b> There is also an admin login to add and remove flights.<br><b>Admin Email:</b> admin@admin.com <br><b>Admin Password:</b> admin</li>
            <li><b>Authentication:</b> Separate authentication and validation for user and admin using Session Tokens</li>
        </ol>
        <p class="card-text">Enjoy using our Flight Ticket Booking App for all your travel needs!</p>
    </div>
</div>

<footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; {{year}} Afsal Baaqir A</p>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Terms</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Privacy</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
    </ul>
</footer>